/* Estilo do corpo da página */
body {
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Image/Plano_de_Fundo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.box-principal {
    width: 815px;
    height: calc(100vh - 70px);
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #F0F0F0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-secundaria {
    width: 195px;
    height: calc(100vh - 70px);
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui os conteúdos ao longo da coluna */
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.icon-box {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px; /* Espaço entre ícones e a borda inferior */
}

.hr-custom {
    width: 100%; /* A barra horizontal agora ocupa toda a largura do container */
    border: 0.5px solid #CCCCCC;
    margin: 10px 0;
}

.icon-box img {
    max-width: 100%;
    max-height: 100%;
}

.icon-box:hover {
    transform: scale(1.05);
}

.text-custom {
    color: white;
}

.result-box {
    max-height: 500px;
    overflow-y: auto;
}

.result-item {
    margin-bottom: 10px;
}

.result-label {
    font-weight: bold;
    color: #333333;
}

.toggle-button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
}

.toggle-button i {
    float: right;
}

.result-group-content {
    display: block;
}

#toggleAllButton {
    margin-top: 10px;
    background-color: #00A295;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#toggleAllButton:hover {
    background-color: #6DA6A6;
}

#cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separador {
    border-left: 1px solid #ccc;
    height: 60%;
    width: 0;
}

.btn-custom {
    background-color: #007bff;
    color: #fff;
}

.btn-custom:hover {
    background-color: #0056b3;
    color: #fff;
}

.botao-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

/* Estilos para as caixas de resultado de cada categoria */
.bordered-box {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #E5e5e5e5;
    position: relative;
    text-align: left;
}

.result-group-header {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: -14px;
    left: 10px;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 3px;
}

.result-group-content div {
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    .box-principal, .box-secundaria {
        width: 100%;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    .sticky-header, #cabeca {
        flex-direction: column;
    }

    .icon-box {
        width: 80px;
        height: 80px;
        margin: 5px;
    }

    .result-item, .bordered-box {
        flex-direction: column;
    }

    .loading-screen {
        padding: 20px;
    }

    .sticky-header {
        padding: 10px;
    }

    .box-principal {
        margin: 5px;
    }

    .icon-box img {
        max-width: 80%;
    }

    .btn-custom, #toggleAllButton {
        font-size: 14px;
    }

    .result-box {
        max-height: 300px;
    }

    .hr-custom {
        margin-bottom: 5px;
    }

    .toggle-button i {
        font-size: 16px;
    }

    .result-label, .result-group-header {
        font-size: 12px;
    }

    .toggle-button, .btn-custom, #toggleAllButton {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .box-secundaria {
        display: none;
    }

    .icon-box:hover {
        transform: none;
    }

    .separador {
        display: none;
    }

    .result-group-content div {
        font-size: 10px;
    }

    .botao-container {
        flex-direction: column;
        align-items: stretch;
        margin-top: 10px;
    }

    .text-custom {
        color: #333;
    }
}
